{% extends 'base.html.twig' %}

{% block body %}
    <h1>Messurementunit</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ messurementUnit.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ messurementUnit.name }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{% if messurementUnit.status %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Datecreate</th>
                <td>{% if messurementUnit.dateCreate %}{{ messurementUnit.dateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateupdate</th>
                <td>{% if messurementUnit.dateUpdate %}{{ messurementUnit.dateUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('messurementunits_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('messurementunits_edit', { 'id': messurementUnit.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
